{%extends 'bbb.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Hello! I'm Reeshav.</title>

</head>

      
{%block body%}
<p style="color:pink">
<div class="container fluid my-4">
<i style="font-size:36px; color:purple">Hello! I'm Reeshav.</i><br>
<br>
<img src="/static\img/about.2.jpg" class="d block" width="720" height="420" alt="...">

<br><br><br>

<i style="font-size:18px; color:purple">This is my 1st Python-Django project. I've made this project in an aspire of learning the tech-high skills of django.
I took six days to complete this simple website named "Treat Corner".<br>
Hope you liked it. See you soon with new python-django based project.</i><br><br>
<i style="font-size:22px;color:purple">Thank You!</i>

{%endblock body%}