{%extends 'bbb.html'%}

{%block title%}Home{%endblock title%}

{%block body%}

<div class="container fluid my-4 ">
<i style="font-size: 36px; color:deepgreen;">“Don’t let your ice cream melt while you’re counting someone else’s sprinkles.”</i>
<br>
<div class="container-fluid my-4 px=0">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="/static\img/1.jfif.jpg" class="d-block" width="1120" height="420" alt="...">
    </div>
    
    <div class="carousel-item">
      <img src="/static\img/jfif.1.jpg" class="d-block" width="1120" height="420" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static\img/jfif.4.jpg" class="d-block" width="1120" height="420" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container my-4">
<h3 class="my-2 text-center">Relish with your choices!!</h3><br>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t1.jpg" class="d-block w-100" alt="...">
            

            <div class="card-body">
              <p class="card-text">Hard Ice Creams</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                   <name="Add To Cart"> 
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹199</button>
                </div>
                <small class="text-muted">Trending..</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t2.jpg" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p class="card-text">Cup Creams
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹179</button>
                </div>
                <small class="text-muted">trending..</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t3.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Cherry Cups</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹179</button>
                </div>
                <small class="text-muted">out of stock</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t4.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Koffee kones</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹199</button>
                </div>
                <small class="text-muted">popular</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t9.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">couples in Cone</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹189</button>
                </div>
                <small class="text-muted">Trending</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t5.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Choco Love</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹179</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t6.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Trio</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹179</button>
                </div>
                <small class="text-muted">Most Selling</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t7.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Cup Berries</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹299</button>
                </div>
                <small class="text-muted">Popular</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static\img/t8.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Heart&choco</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">INR ₹279</button>
                </div>
                <small class="text-muted">Weekend Special</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock body%}

